# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log

# Next.js
.next/
out/
.vercel/
.next/cache/

# Env
.env
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
